
<% include partials/header %>
<div class="container text-center">
 <div class="jumbotron">
   <h1>Welcome to a Noob Blog</h1>
 </div>
  <% blogs.forEach(function(blog){ %>
   <div class='row'>
     <div class="col-xs-12">
       <div class="thumbnail">
         <div class="caption text-center">
         <h2><%= blog.title %></h2>
         </div>
         <a href='/blogs/<%= blog._id %>'><img src=<%= blog.image %> alt="" /></a>
         <p>
           <%= blog.description %>
         </p>
       </div>
     </div>
   </div>
  <% }); %>


  <% include partials/footer %>
