<% include partials/header %>
<div class="container">
  <div class="thumbnail">
    <div class="caption text-center">
    <h2><%= foundBlog.title %></h2>
    </div>
    <img style='width: 50%, heigth: 50%;'src=<%= foundBlog.image %> alt="" />
    <p>
      <%= foundBlog.description %>
    </p>
  </div>
</div>

<% include partials/footer %>
